{% extends "mainApp/base.html" %}

{% block title_block %}
    <title>User Login</title>
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Login</h1>
    <form method="POST" action="{% url 'mainApp:user_login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}